<% @tofollow.each do |user| %>  
    <% if Following.not_follower?(user, current_user.id) %>
        <li>
            <div class="round"> <%= image_tag User.find(user).photo %> </div> 
            <div  class="follower-info"> 
                <h3> <%= link_to User.find(user).fullname, user_path(user)%> </h3>
                <p> Followed by <span> <%= "#{ Following.first_follower(user).nil? ? 'nobody yet' :  Following.first_follower(user).follower_name}"%> </span> </p>
            </div>
        </li>
    <% end %>    
<% end %>
