<div id="timeline">

<div id="new-post"> 
    <form>
        <span> Say something<span> 
        <input type="text" placeholder="compose a new opinion">
        <button> SUBMIT</button>
    </form>
</div>

<div id="recent-opinions"> 
    <h4> 4 NEW OPINIONS  </i> </h4>
    <ul class="opinions-list"> 
        <li> 
            <div class="for-image"> </div>
            <div class="recent-follower">
                <div class="person-time"><h5> Gabriel Hilarion</h5>  <span class="opionion-time"> 2 Years</span></div>
                <div> This is the very first of Gabriel Hilarion</div>
             </div>
        </li>
         <li> 
            <div class="for-image">   </div>
            <div class="recent-follower">
                <div class="person-time"><h5> Gabriel Hilarion</h5>  <span class="opionion-time"> 2 days</span></div>
                <div> This is the very first of Gabriel Hilarion</div>
             </div>
        </li>
         <li> 
            <div class="for-image"> </div>
            <div class="recent-follower">
                <div class="person-time"><h5> Gabriel Hilarion</h5>  <span class="opionion-time"> 2h</span></div>
                <div class="person-comment"> This is the very first of Gabriel Hilarion</div>
             </div>
        </li>
         <li> 
            <div class="for-image"> </div>
            <div class="recent-follower">
                <div class="person-time"><h5> Gabriel Hilarion</h5>  <span class="opionion-time"> 23 Jan</span></div>
                <div> This is the very first of Gabriel Hilarion</div>
             </div>
        </li>
    </ul>
</div>

</div>