<div id="timeline">

<div id="new-post"> 
    <form>
        <span> Say something<span> 
        <input type="text" placeholder="compose a new opinion">
        <button> SUBMIT</button>
    </form>
</div>

<div id="recent-opinions"> 
    <h4> 4 NEW OPINIONS</h4>
    <ul class="opinions-list"> 
        <li> 
            <div class="for-image"> </div>
            <div>
                <h5> Gabriel Hilarion</h5>
                <div> This is the very first of Gabriel Hilarion</div>
             </div>
        </li>
    </ul>
</div>

</div>